.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 10px 10px 10px;
}

.To-item {
  width: 300px;
  border: 1px solid blue;
  user-select: none;
}
.From-item {
  width: 300px;
  /* background-image: linear-gradient(to right, white , lightgreen); */
}
.From-item-selected {
  color: red;
  font-weight: bold;
}
.From-container {
  width: 300px;
border: 1px solid blue; 
}
.DDContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 90%;
  text-align: left;
}
